:root {
    --color-1: #871d80;
    --color-2: #b9087f;
    --color-3: #522580;
    --color-4: #48b2e4;
    --color-5: #0077ad;
    --white-ff: #ffffff;
    --gray-f2: #f2f2f2;
    --gray-ca: #cacaca;
    --gray-f6: #f6f6f6;
    --black-00: #000000;
    --black-3C: #3C3C3C;
}

html {
    scroll-behavior: smooth;
    font-size: 16px;
    
}
::-webkit-scrollbar {
    width: 5px;
}
   
::-webkit-scrollbar-thumb {
    background-color: darkgrey;
}

body {
    font-family: "Noto Sans JP", sans-serif;
    color: var(--black-3C);
}

audio, canvas, embed, iframe, img, object, svg, video {
    display: block;
    vertical-align: middle;
}
a , p{
    color: var(--black-3C);
}
h1, h2, h3, h4, h5, h6 {
    /* letter-spacing: .025em; */
    line-height: calc(100% + .5rem);
    line-height: 1.375;
    margin-bottom: 1rem;
}
h1 {
    font-size: 39px;
}

h3 {
    font-size: 33px;
}
h4{
    font-size: 25px;
}
h5 {
    font-size: 20px;
}

p{
    color: var(--black-3C);
}
.__root{
    overflow: hidden;
}
.container {
    max-width: 1180px !important;
    padding-left: 1rem;
    padding-right: 1rem;
    width: 100% !important;
}

.duration-500 {
    -webkit-transition-duration: .5s;
         -o-transition-duration: .5s;
            transition-duration: .5s;
}

.social-icon:hover {
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1);
}

.nav--top {
    background-color: var(--gray-f2);
}

.header--top {
    height: 72px;
}
.header--top img {
    max-width: 250px;
}
.nav-item-wrapper>ul>li.menu-item{
    margin-right: 2rem;
}
.nav-item-wrapper>ul>li.menu-item a{
    padding: 12px 0;
}
.menu-item a, .menu-item button{
    font-size: 16px;
    color: var(--black-3C);
}
.menu-item {
    cursor: pointer;
}
.nav-item-wrapper>ul>li>a svg.arrow, .action-menu-item-wrapper>ul>li>a svg.arrow {
    -webkit-transform: rotate(0) translateY(2px);
        -ms-transform: rotate(0) translateY(2px);
            transform: rotate(0) translateY(2px);
    -webkit-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}
.action-menu-item-wrapper a.selected{
    color: var(--color-2);
    border-color: var(--color-2) !important;
}
.nav-item-wrapper>ul>li:hover>a svg.arrow, .action-menu-item-wrapper>ul>li:hover>a svg.arrow {
    -webkit-transform: rotate(180deg) translateY(-1px);
        -ms-transform: rotate(180deg) translateY(-1px);
            transform: rotate(180deg) translateY(-1px);
}
.menu-item-border {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 4px;
    -webkit-transform: scaleX(0);
        -ms-transform: scaleX(0);
            transform: scaleX(0);
    background-color: var(--color-2);
    -webkit-transition: 0.5s all;
    -o-transition: 0.5s all;
    transition: 0.5s all;
}
.menu-item:hover .menu-item-border {
    -webkit-transform: scaleX(1);
        -ms-transform: scaleX(1);
            transform: scaleX(1);
}

section.header--wrapper {
    -webkit-box-shadow: 0 1px 3px 0 rgba(83, 83, 83, 0.1), 0 1px 2px 0 rgba(77, 77, 77, 0.06);
            box-shadow: 0 1px 3px 0 rgba(83, 83, 83, 0.1), 0 1px 2px 0 rgba(77, 77, 77, 0.06);
}
.main-header.sticky{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    -webkit-box-shadow: 0 1px 3px 0 rgba(0,0,0,.1), 0 1px 2px 0 rgba(0,0,0,.06);
            box-shadow: 0 1px 3px 0 rgba(0,0,0,.1), 0 1px 2px 0 rgba(0,0,0,.06);
}

.main-header.sticky .menu-item a, .main-header.sticky .menu-item button{
    font-size: 14px;
    -webkit-transition: 0.2s all;
    -o-transition: 0.2s all;
    transition: 0.2s all;
}

.main-header>.position-relative>.container{
    height: 48px;
}
.main-header.sticky>.position-relative>.container {
    height: 84px;
    -webkit-transition: height .2s linear;
    -o-transition: height .2s linear;
    transition: height .2s linear;
}
.main-header ul{
    height: 100%;
}
.main-header ul li{
    height: 100%;
}

.sticky-logo{
    width: 0;
    overflow: hidden;
    -webkit-transition: width .5s ease-out;
    -o-transition: width .5s ease-out;
    transition: width .5s ease-out;
}

.main-header.sticky .sticky-logo{
    width: 200px;
    
}
.menu-content{
    position: absolute;
    opacity: 0;
    pointer-events: none;
    -webkit-transform: translateY(24px);
        -ms-transform: translateY(24px);
            transform: translateY(24px);
    -webkit-transition: opacity .5s 0s, visibility 0s .5s, -webkit-transform .5s 0s;
    transition: opacity .5s 0s, visibility 0s .5s, -webkit-transform .5s 0s;
    -o-transition: opacity .5s 0s, visibility 0s .5s, transform .5s 0s;
    transition: opacity .5s 0s, visibility 0s .5s, transform .5s 0s;
    transition: opacity .5s 0s, visibility 0s .5s, transform .5s 0s, -webkit-transform .5s 0s;
    visibility: hidden;
    top: 100%;
    z-index: 3;
    background-color: var(--gray-f6);
    -webkit-box-shadow: 0 1px 3px 0 rgba(0,0,0,.1), 0 1px 2px 0 rgba(0,0,0,.06);
            box-shadow: 0 1px 3px 0 rgba(0,0,0,.1), 0 1px 2px 0 rgba(0,0,0,.06);
}
.menu-content.mega-menu{
    width: 100%;
    left: 0;
}
.menu-content.simple-sub-menu{
    width: 250px;
    padding: 24px;
    margin-left: -32px;
}
.nav-item-wrapper>ul>li:hover .mega-menu, .nav-item-wrapper>ul>li:hover .simple-sub-menu, .action-menu-item-wrapper>ul>li:hover .simple-sub-menu {
    opacity: 1;
    pointer-events: auto;
    -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
            transform: translateY(0);
    -webkit-transition: opacity .5s .2s, visibility 0s 0s, -webkit-transform .5s .2s;
    transition: opacity .5s .2s, visibility 0s 0s, -webkit-transform .5s .2s;
    -o-transition: opacity .5s .2s, visibility 0s 0s, transform .5s .2s;
    transition: opacity .5s .2s, visibility 0s 0s, transform .5s .2s;
    transition: opacity .5s .2s, visibility 0s 0s, transform .5s .2s, -webkit-transform .5s .2s;
    visibility: visible;
}
.manu-item-content{
    width: 250px;
}
.w-40 {
    width: 40%;
}
.w-60 {
    width: 60%;
}
.nav-pills .nav-link, a.nav-link {
    border-color: var(--black-3C) !important;
    -webkit-transition: .3s ease-in;
    -o-transition: .3s ease-in;
    transition: .3s ease-in;
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: var(--color-2);
    border-color: var(--color-2) !important;
}
.nav-link:focus, .nav-link:hover {
    color: var(--color-2);
    border-color: var(--color-2) !important;
}


video.hero-content-video {
    position: absolute;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
}
.bg-image-absolute img {
    position: absolute;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
}
.hero-content-wrapper {
    max-width: 42rem;
    padding-bottom: 3rem;
    margin-left: -150px;
    margin-top: -150px;
}

.hero-content-container {
    padding-bottom: 100%;
}

.hero-content-bg{
    bottom: 0;
    height: 100%;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    opacity: 0.95;
}

.hero-content-bg.home {
    background: var(--color-2);
}

.hero-content {
    bottom: 0;
    height: 100%;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    padding: 150px 100px 100px 150px;
}

.hero-content h1 {
    font-size: 39px;
    font-weight: 300;
}

.theme-gap{
    padding: 4rem 0;
}

.small-text p {
    font-weight: 300;
}

.world-icon img{
    width: 16rem;
}

.pe-6{
    padding-right: 4.5rem;
}

.font-caveat {
    font-family: "Caveat", cursive;
    font-size: 130%;
    font-weight: 700;
    letter-spacing: 0.01px;
}

h2.heading-2 {
    font-size: 33px;
    font-weight: 400;
}

.btn.button-main-theme {
    display: inline-block;
    padding: 10px 20px;
    min-width: 150px;
    min-height: 50px;
    border-radius: 4px;
    border-width: 1px;
    border-style: solid;
    -webkit-transition: background-color 0.3s ease-in-out, border-color 0.3s ease-in-out, color 0.3s ease-in-out;
    -o-transition: background-color 0.3s ease-in-out, border-color 0.3s ease-in-out, color 0.3s ease-in-out;
    transition: background-color 0.3s ease-in-out, border-color 0.3s ease-in-out, color 0.3s ease-in-out;
    background-color: var(--color-2);
    border-color: var(--color-2);
    text-align: center;
    color: var(--white-ff);
}
.btn.button-main-theme:hover {
    background: #a5006f;
}

.button-outline-main-theme {
    display: inline-block;
    padding: 10px 20px;
    min-width: 150px;
    border-radius: 4px;
    border-width: 1px;
    border-style: solid;
    -webkit-transition: background-color 0.3s ease-in-out, border-color 0.3s ease-in-out, color 0.3s ease-in-out;
    -o-transition: background-color 0.3s ease-in-out, border-color 0.3s ease-in-out, color 0.3s ease-in-out;
    transition: background-color 0.3s ease-in-out, border-color 0.3s ease-in-out, color 0.3s ease-in-out;
    background-color: transparent;
    border-color: var(--color-2);
    text-align: center;
    color: var(--color-2);
}
.button-outline-main-theme-sm {
    font-size: 14px;
    display: inline-block;
    padding: 8px 16px;
    min-width: 24%;
    border-radius: 4px;
    border-width: 1px;
    border-style: solid;
    -webkit-transition: background-color 0.3s ease-in-out, border-color 0.3s ease-in-out, color 0.3s ease-in-out;
    -o-transition: background-color 0.3s ease-in-out, border-color 0.3s ease-in-out, color 0.3s ease-in-out;
    transition: background-color 0.3s ease-in-out, border-color 0.3s ease-in-out, color 0.3s ease-in-out;
    background-color: transparent;
    border-color: var(--color-2);
    text-align: center;
    color: var(--color-2);
}
.button-outline-main-theme.active, .button-outline-main-theme-sm.active {
    background-color: var(--color-2);
    border-color: var(--color-2);
    color: var(--white-ff);
}
.filter-checkbox{
    display: none;
}
.filterBtn {
    font-size: 14px;
    padding: 6px 1rem;
    border: 1px solid var(--gray-ca);
    border-radius: 0.25rem;
    cursor: pointer;
    -webkit-transition: .2s ease-in;
    -o-transition: .2s ease-in;
    transition: .2s ease-in;
    text-wrap: nowrap;
}

label.filterBtn:hover {
    border-color: var(--color-2);
}

label.filterBtn.active {
    background-color: var(--color-2);
    color: var(--white-ff);
    border-color: var(--color-2);
}

.heading-3 {
    font-size: 25px;
    font-weight: 400;
}

.card-bottom span {
    font-weight: 300;
    color: var(--gray-ca);
    -webkit-transition: .5s ease-in;
    -o-transition: .5s ease-in;
    transition: .5s ease-in;
}

.card-wrapper{
    border-bottom: 2px solid var(--gray-ca);
    -webkit-transition: .5s ease-in;
    -o-transition: .5s ease-in;
    transition: .5s ease-in;
}

.card-wrapper:hover{
    border-color: var(--color-2);
}

.card-wrapper:hover .card-bottom span{
    color: var(--color-2);
}

.card-wrapper:hover img.product-thumb{
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1);
}

.bg-image-worldMap{
    top: 0;
    left: 0;
    bottom: 0;
    padding: 1rem 0;
}

footer{
    background-color: var(--gray-f2);
}

.footer-content p, footer a, footer p {
    font-size: 12px;
    font-weight: 300;
    color: var(--black-3C);
}

.footer-content p a{
    color: var(--black-3C);
}

.footer-content p a:hover{
    text-decoration: underline !important;
}

.service-icon {
    width: 48px;
    height: 48px;
    background: var(--color-2);
}
.service-card-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    row-gap: 40px;
}
.service-card {
    max-width: 350px;
    width: 33.3333%;
    padding: 24px 32px;
    border-radius: 4px;
    -webkit-transition: 0.3s ease-in;
    -o-transition: 0.3s ease-in;
    transition: 0.3s ease-in;
}

.service-card:hover {
    background: #e6e6e64d;
}

.font-caveat.small{
    font-size: 100%;
}

img.brand-logo{
    -webkit-filter: grayscale(100%);
            filter: grayscale(100%);
    max-width: 150px;
    margin: auto;
    -webkit-transition: .3s ease-in;
    -o-transition: .3s ease-in;
    transition: .3s ease-in;
}
img.brand-logo:hover{
    -webkit-filter: grayscale(0);
            filter: grayscale(0);
}
ul.slick-dots {
    bottom: -40px;
}
.slider-brand .slick-dots li {
    height: 6px;
    width: 5rem;
    background-color: var(--gray-ca);
}
.slider-brand .slick-dots  li:before {
    bottom: 0;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    -webkit-transition: 0.5s all;
    -o-transition: 0.5s all;
    transition: 0.5s all;
    
}
.slick-slider .slick-dots li.slick-active:before {
    background-color: var(--color-2);
}

.slider-brand .slick-dots li button{
    display: none;
}

.faq-accordion-container .accordion-button:focus {
    z-index: 3;
    border-color: none;
    outline: 0;
    -webkit-box-shadow: none;
            box-shadow: none;
}

.faq-accordion-container .accordion-button{
    color: var(--black-3C);
    font-size: 25px;
    font-weight: 300;
    height: 80px;
}

.faq-accordion-container .accordion-button:not(.collapsed){
    -webkit-box-shadow: none;
            box-shadow: none;
    color: var(--color-2);
}

.faq-accordion-container li.accordion-item.active{
    border-color: var(--color-2) !important;
}

.accordion-button::after {
    width: 28px;
    height: 28px;
    background-size: cover;
}

.accordion-button:not(.collapsed)::after {
    background-image: url(../image/icon/accondation-arrow.svg);
}

.contact-form-wrapper .service-card {
    border-bottom: 4px solid var(--black-3C);
    max-width: 320px;
    padding: 15px 0;
    margin: 0px 25px;
}
.contact-form-wrapper .service-card.active {
    border-color: var(--color-2);
}

.contact-form-wrapper .service-card:hover {
    border-color: var(--color-2);
    background: transparent;
}
.form-content {
    position: relative;
    display: none;
    margin: 20px 25px;
}
.form-content form {
    max-width: 900px;
    margin: auto;
    padding-top: 80px;
}
.form-content.active-form{
    display: block;
}

button.close-button {
    position: absolute;
    right: 0;
    top: 0;
}
.form-content form label.label-absolute {
    position: absolute;
    top: 0px;
    left: 15px;
    background: #fff;
    padding: 0px 10px;
    font-weight: 300;
}

.form-group {
    position: relative;
    padding: 12px 0 0;
    margin: 10px 0;
}

.form-group .form-control, .form-group .form-select{
    padding: 11px 12px;
    height: 56px;
    font-weight: 300;
}

.form-group .form-control:focus, .form-group .form-select:focus {
    border-color: var(--color-2);
    outline: 0;
    -webkit-box-shadow: unset;
            box-shadow: unset;
}
.text-x-sm p {
    font-size: 12px;
    line-height: 16px;
    color: var(--black-3C);
    font-weight: 300;
}
.theme-hover:hover{
    color: var(--color-2);
}

table.header-theme-color th {
    background: var(--color-2);
    color: #fff;
    border: 1px solid var(--color-2);
    font-weight: 400;
}
table.header-theme-color td {
    font-weight: 300;
    color: var(--black-3C);
}

.dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
            box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    top: 38px;
    width: 100%;
  }
  .dropdown-button {
    background: #fff;
    /* gap: 10px; */
  }
  .dropdown-content label {
    display: block;
    padding: 8px 16px;
  }
  .dropdown-content.show-dropdown {
    display: block;
  }
  
  .dropdown-button input.form-control {
    color: var(--black-3C);
    font-size: 16px;
  }
  
  .dropdown-button input.form-control:focus {
    color: var(--black-3C);
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  
  label.form-check-label {
    font-size: 16px;
    color: var(--black-3C);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 8px;
    font-weight: 300;
  }

  i.filtericon img {
    -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
            transform: rotate(90deg);
    width: 13px;
}

i.filtericon {
    width: 40px;
    height: 37px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.form-check-input[type="checkbox"] {
    width: 15px;
    height: 15px;
    border-radius: 0px;
}
.form-check-input:checked {
    background-color: var(--color-2);
    border-color: var(--color-2);
}
.map-content-wrapper.position-relative {
    height: 100%;
    padding-bottom: 150px;
    padding-right: 300px;
    padding-top: 150px;
    z-index: 2;
    min-height: 600px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.map-overly {
    background-image: -o-linear-gradient(left,#868686 0,#868686 75%,rgba(60,60,60,0));
    background-image: -webkit-gradient(linear,left top, right top,color-stop(0, #868686),color-stop(75%, #868686),to(rgba(60,60,60,0)));
    background-image: linear-gradient(90deg,#868686 0,#868686 75%,rgba(60,60,60,0));
    width: 100vw;
    position: absolute;
    height: 100%;
    right: 0;
    top: 0;
    z-index: -1;
}
.overly-address-wrapper {
    min-width: 595px;
    max-width: 595px;
}
.search-form.hide{
    display: none;
}
.navigation-mobile, .sub-menu-wrapper{
    display: none;
}
.action-menu-item-wrapper.mobile{
    display: none !important;
}
.slick-slide{
    height: inherit;
}
.slick-initialized .slick-slide {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}
.slick-track {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.download-center-content{
    background-color: #f5f7f9;
}
@media screen and (max-width:1280px) {
    .action-menu-item-wrapper.mobile{
        display: -webkit-box !important;
        display: -ms-flexbox !important;
        display: flex !important;
    }
    .theme-gap {
        padding: 3.5rem 0;
    }
    .body--content--wrapper {
        margin-top: 60px;
    }
    .bar1,
    .bar2,
    .bar3 {
        -webkit-transition: 0.4s;
        -o-transition: 0.4s;
        transition: 0.4s;
        background-color: var(--black-3C);
        display: block;
        height: 1px;
        margin: 5px 0;
        width: 30px;
    }

    .change .bar1 {
        -webkit-transform: rotate(-45deg) translate(-4px, 5px);
        -ms-transform: rotate(-45deg) translate(-4px,5px);
        transform: rotate(-45deg) translate(-4px, 5px);
    }

    .change .bar2 {
        opacity: 0;
    }

    .change .bar3 {
        -webkit-transform: rotate(45deg) translate(-3px, -5px);
        -ms-transform: rotate(45deg) translate(-3px, -5px);
        transform: rotate(45deg) translate(-3px, -5px);
    }

    .nav--top{
        display: none;
    }

    .navigation-mobile, .sub-menu-wrapper {
        display: block;
        opacity: 1;
        background-color: rgba(255, 255, 255);
        bottom: 0;
        max-width: 320px;
        overflow-x: hidden;
        overflow-y: auto;
        padding-left: 2rem;
        padding-right: 1rem;
        padding-top: 5rem;
        position: fixed;
        right: 0;
        top: 0;
        -webkit-transform: translateX(110%);
            -ms-transform: translateX(110%);
                transform: translateX(110%);
        -webkit-transition-duration: .15s;
             -o-transition-duration: .15s;
                transition-duration: .15s;
        -webkit-transition-duration: .3s;
             -o-transition-duration: .3s;
                transition-duration: .3s;
        -webkit-transition-property: all;
        -o-transition-property: all;
        transition-property: all;
        -webkit-transition-timing-function: cubic-bezier(.4,0,.2,1);
             -o-transition-timing-function: cubic-bezier(.4,0,.2,1);
                transition-timing-function: cubic-bezier(.4,0,.2,1);
        width: 100%;
        z-index: 10;
        -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
                box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
    }

    .navigation-mobile.active, .sub-menu-wrapper.active {
        -webkit-transform: translateX(0);
            -ms-transform: translateX(0);
                transform: translateX(0);
    }
    .sub-menu-wrapper.active {
        z-index: 9;
    }
    .sub-menu-toggle, a.page-link {
        padding: 5px 0;
        font-weight: 300;
        color: var(--black-3C);
        cursor: pointer;
    }
    a.page-link:hover, .sub-menu-toggle:hover {
        color: var(--color-2);
    }

    .go-back span {
        font-size: 12px;
        margin-left: 5px;
        margin-bottom: 1px;
        cursor: pointer;
    }

    .go-back span:hover {
        color: var(--color-3);
    }

    header.header{
        position: fixed;
        width: 100%;
        top: 0;
        left: 0;
        -webkit-box-shadow: 0 1px 3px 0 rgba(0,0,0,.1), 0 1px 2px 0 rgba(0,0,0,.06);
        box-shadow: 0 1px 3px 0 rgba(0,0,0,.1), 0 1px 2px 0 rgba(0,0,0,.06);
        z-index: 20;
        padding: 0 !important;
    }

    .menu-content.simple-sub-menu {
        width: 170px;
        padding: 24px;
        margin-left: -130px;
    }

    .header--top {
        height: 60px;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
    }

    .header--top a{
        padding: 2px 0 !important;
        margin: 0 !important;
        width: auto !important;
    }

    .header--top img {
        max-width: 175px;
    }

    .main-header {
        display: none;
    }

    .bg-image-worldMap img {
        width: 60%;
    }

    .menu-item {
        height: 100%;
    }

    .hamburger_menu {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }
    .faq-accordion-container .accordion-button {
        font-size: 22px;
    }
    .contact-form-wrapper .service-card {
        margin: 0px 0px;
    }
}
@media screen and (max-width:1024px) {
    .map-content-wrapper.position-relative {
        padding-right: 150px;
    }
    .overly-address-wrapper {
        min-width: unset;
    }
    .contact-form-wrapper .service-card {
        border-bottom: 4px solid var(--black-3C);
        max-width: 300px;
        padding: 15px 0;
        margin: 0px 5px;
    }
    .form-content form label.label-absolute {
        font-size: 14px;
        left: 10px;
    }
    .form-group .form-control, .form-group .form-select {
        font-size: 14px;
    }
}
@media screen and (max-width:990px) {
    .bg-image-worldMap {
        display: none !important;
    }
    .map-overly {
        background-image: unset;
        width: 200%;
        height: 100%;
        right: -50px;
        left: -50px;
        top: 0;
        z-index: -1;
        background-color: #868686;
    }
    .map-content-wrapper.position-relative {
        padding-bottom: 100px;
        padding-right: 0;
        padding-top: 100px;
    }
    h2.heading-2 {
        font-size: 28px;
    }

    .font-caveat {
        font-size: 120%;
    }

    .form-content {
        position: relative;
        display: none;
        margin: 0;
    }

    .world-icon img{
        width: 90% !important;
        margin: auto !important;
    }

    .btn.button-main-theme {
        padding: 9px 15px;
        min-height: unset;
    }

    .service-card {
        max-width: unset;
        width: 50%;
        padding: 25px;
    }
    .service-card-container {
        row-gap: 5px;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
    }
    .form-content form {
        padding-top: 50px;
    }
}
@media screen and (max-width:768px) {
    .slider-container ul {
        -ms-flex-wrap: wrap !important;
            flex-wrap: wrap !important;
    }
    .slick-next {
        right: 0;
    }
    .faq-accordion-container .accordion-button {
        font-size: 20px;
        min-height: 70px;
        height: auto;
    }
    .slick-prev {
        left: 0;
    }
    .responsive > thead th {
        display: none;
    }

    .responsive > tbody td,
    .responsive > tbody th {
        display: block;
        border-bottom: 1px solid #f3f3f3;
    }

    .responsive > tbody td:first-child{
        background-color: var(--color-2);
        color: #fff;
        font-weight: 400;
    }

    [row-header] {
        position: relative;
        width: 100%;
        vertical-align: middle;
    }

    [row-header]:before {
        content: attr(row-header);
        display: inline-block;
        vertical-align: middle;
        text-align: left;
        width: 50%;
        padding-right:30px;
    }
    .table-striped>tbody>tr:nth-of-type(odd)>* {
        --bs-table-color-type: unset;
        --bs-table-bg-type: unset;
    }
    h5.responsive{
        display: block !important;
    }
    .overly-address-wrapper {
        min-width: auto;
        max-width: 595px;
    }
    .location-info {
        padding-right: 0px !important;
    }
    .map-content-wrapper.position-relative {
        height: 100%;
        padding-bottom: 80px;
        padding-right: 0;
        padding-top: 80px;
        min-height: unset;
    }
    h3 {
        font-size: 26px;
    }
    .contact-form-wrapper .service-card {
        margin: 0px 20px;
    }
}
@media screen and (max-width:590px) {
    .download-center-content{
        background-color: transparent;
    }
    h1, h2, h3, h4, h5, h6 {
        line-height: calc(100% + .5rem);
        line-height: 1.275;
        margin-bottom: 0.7rem;
    }
    .accordion-button::after {
        width: 25px;
        height: 25px;
    }
    .service-card {
        max-width: unset;
        width: 100%;
        padding: 20px;
    }
    .service-card-container {
        row-gap: 5px;
    }
    .theme-gap {
        padding: 2rem 0;
    }
    .hero-content {
        padding: 160px 80px 80px 150px;
    }
    .hero-content h1 {
        font-size: 30px;
        font-weight: 300;
    }
    .contact-form-wrapper .service-card {
        margin: 0px auto 15px;
    }
    h2.heading-2 {
        font-size: 26px;
        font-weight: 300;
    }
    .font-caveat {
        font-size: 100%;
        font-weight: 600;
        letter-spacing: 0.01px;
    }
    .btn.button-main-theme {
        padding: 6px 15px;
        min-width: 120px;
        min-height: unset;
        font-size: 14px;
    }
    .button-outline-main-theme-sm {
        padding: 6px 15px;
        min-width: 22%;
    }
    .button-outline-main-theme {
        padding: 6px 20px;
        min-width: 120px;
    }
    .heading-3 {
        font-size: 20px;
    }
    .font-caveat.small {
        line-height: 26px;
    }
    .font-caveat {
        line-height: 28px;
        margin-top: 5px;
    }
    .accordion-body p {
        font-size: 14px;
    }
    .footer-content a, .footer-content p{
        font-size: 14px;
    }
    .footer-content h6{
        font-size: 20px;
    }
    footer a  {
        font-size: 10px;
    }
}
@media screen and (max-width:390px) {
    .faq-accordion-container .accordion-button {
        font-size: 18px;
    }
    .accordion-button::after {
        width: 15px;
        height: 15px;
        background-size: cover;
    }
    .small-text p {
        font-size: 14px;
        margin-bottom: 10px;
    }
}