:root {
    --color-1: #871d80;
    --color-2: #b9087f;
    --color-3: #522580;
    --color-4: #48b2e4;
    --color-5: #0077ad;
    --white-ff: #ffffff;
    --gray-f2: #f2f2f2;
    --gray-ca: #cacaca;
    --gray-f6: #f6f6f6;
    --black-00: #000000;
    --black-3C: #3C3C3C;
}

html {
    scroll-behavior: smooth;
    font-size: 16px;
    
}

body {
    font-family: "Noto Sans JP", sans-serif;
    color: var(--black-3C);
}

audio, canvas, embed, iframe, img, object, svg, video {
    display: block;
    vertical-align: middle;
}

h1, h2, h3, h4, h5, h6 {
    /* letter-spacing: .025em; */
    line-height: calc(100% + .5rem);
    line-height: 1.375;
    margin-bottom: 1rem;
    color: var(--black-3C);
}
h1 {
    font-size: 39px;
}

h3 {
    font-size: 33px;
}
h4{
    font-size: 25px;
}
h5 {
    font-size: 20px;
}

p{
    color: var(--black-3C);
}

.container {
    max-width: 1180px !important;
    padding-left: 1rem;
    padding-right: 1rem;
    width: 100% !important;
}

.duration-500 {
    -webkit-transition-duration: .5s;
         -o-transition-duration: .5s;
            transition-duration: .5s;
}

.social-icon:hover {
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1);
}

.nav--top {
    background-color: var(--gray-f2);
}

.header--top {
    height: 72px;
}
.header--top img {
    max-width: 250px;
}
.nav-item-wrapper>ul>li.menu-item{
    margin-right: 2rem;
}
.nav-item-wrapper>ul>li.menu-item a{
    padding: 12px 0;
}
.menu-item a, .menu-item button{
    font-size: 16px;
    color: var(--black-3C);
}
.nav-item-wrapper>ul>li>a svg.arrow, .action-menu-item-wrapper>ul>li>a svg.arrow {
    -webkit-transform: rotate(0) translateY(2px);
        -ms-transform: rotate(0) translateY(2px);
            transform: rotate(0) translateY(2px);
    -webkit-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}
.action-menu-item-wrapper a.selected{
    color: var(--color-2);
    border-color: var(--color-2) !important;
}
.nav-item-wrapper>ul>li:hover>a svg.arrow, .action-menu-item-wrapper>ul>li:hover>a svg.arrow {
    -webkit-transform: rotate(180deg) translateY(-1px);
        -ms-transform: rotate(180deg) translateY(-1px);
            transform: rotate(180deg) translateY(-1px);
}
.menu-item-border {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 4px;
    -webkit-transform: scaleX(0);
        -ms-transform: scaleX(0);
            transform: scaleX(0);
    background-color: var(--color-2);
    -webkit-transition: 0.5s all;
    -o-transition: 0.5s all;
    transition: 0.5s all;
}
.menu-item:hover .menu-item-border {
    -webkit-transform: scaleX(1);
        -ms-transform: scaleX(1);
            transform: scaleX(1);
}

.body--content--wrapper{
    min-height: 190vh;
}
section.header--wrapper {
    -webkit-box-shadow: 0 1px 3px 0 rgba(83, 83, 83, 0.1), 0 1px 2px 0 rgba(77, 77, 77, 0.06);
            box-shadow: 0 1px 3px 0 rgba(83, 83, 83, 0.1), 0 1px 2px 0 rgba(77, 77, 77, 0.06);
}
.main-header.sticky{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    -webkit-box-shadow: 0 1px 3px 0 rgba(0,0,0,.1), 0 1px 2px 0 rgba(0,0,0,.06);
            box-shadow: 0 1px 3px 0 rgba(0,0,0,.1), 0 1px 2px 0 rgba(0,0,0,.06);
}

.main-header.sticky .menu-item a, .main-header.sticky .menu-item button{
    font-size: 14px;
    -webkit-transition: 0.2s all;
    -o-transition: 0.2s all;
    transition: 0.2s all;
}

.main-header>.position-relative>.container{
    height: 48px;
}
.main-header.sticky>.position-relative>.container {
    height: 84px;
    -webkit-transition: height .2s linear;
    -o-transition: height .2s linear;
    transition: height .2s linear;
}
.main-header ul{
    height: 100%;
}
.main-header ul li{
    height: 100%;
}

.sticky-logo{
    width: 0;
    overflow: hidden;
    -webkit-transition: width .5s ease-out;
    -o-transition: width .5s ease-out;
    transition: width .5s ease-out;
}

.main-header.sticky .sticky-logo{
    width: 200px;
    
}
.menu-content{
    position: absolute;
    opacity: 0;
    pointer-events: none;
    -webkit-transform: translateY(24px);
        -ms-transform: translateY(24px);
            transform: translateY(24px);
    -webkit-transition: opacity .5s 0s, visibility 0s .5s, -webkit-transform .5s 0s;
    transition: opacity .5s 0s, visibility 0s .5s, -webkit-transform .5s 0s;
    -o-transition: opacity .5s 0s, visibility 0s .5s, transform .5s 0s;
    transition: opacity .5s 0s, visibility 0s .5s, transform .5s 0s;
    transition: opacity .5s 0s, visibility 0s .5s, transform .5s 0s, -webkit-transform .5s 0s;
    visibility: hidden;
    top: 100%;
    z-index: 3;
    background-color: var(--gray-f6);
    -webkit-box-shadow: 0 1px 3px 0 rgba(0,0,0,.1), 0 1px 2px 0 rgba(0,0,0,.06);
            box-shadow: 0 1px 3px 0 rgba(0,0,0,.1), 0 1px 2px 0 rgba(0,0,0,.06);
}
.menu-content.mega-menu{
    width: 100%;
    left: 0;
}
.menu-content.simple-sub-menu{
    width: 250px;
    padding: 24px;
    margin-left: -32px;
}
.nav-item-wrapper>ul>li:hover .mega-menu, .nav-item-wrapper>ul>li:hover .simple-sub-menu, .action-menu-item-wrapper>ul>li:hover .simple-sub-menu {
    opacity: 1;
    pointer-events: auto;
    -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
            transform: translateY(0);
    -webkit-transition: opacity .5s .2s, visibility 0s 0s, -webkit-transform .5s .2s;
    transition: opacity .5s .2s, visibility 0s 0s, -webkit-transform .5s .2s;
    -o-transition: opacity .5s .2s, visibility 0s 0s, transform .5s .2s;
    transition: opacity .5s .2s, visibility 0s 0s, transform .5s .2s;
    transition: opacity .5s .2s, visibility 0s 0s, transform .5s .2s, -webkit-transform .5s .2s;
    visibility: visible;
}
.manu-item-content{
    width: 250px;
}
.w-40 {
    width: 40%;
}
.w-60 {
    width: 60%;
}
.nav-pills .nav-link, a.nav-link {
    border-color: var(--black-3C) !important;
    -webkit-transition: .3s ease-in;
    -o-transition: .3s ease-in;
    transition: .3s ease-in;
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: var(--color-2);
    border-color: var(--color-2) !important;
}
.nav-link:focus, .nav-link:hover {
    color: var(--color-2);
    border-color: var(--color-2) !important;
}


video.hero-content-video {
    position: absolute;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
}
.bg-image-absolute img {
    position: absolute;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
}
.hero-content-wrapper {
    max-width: 42rem;
    padding-bottom: 3rem;
    margin-left: -150px;
    margin-top: -150px;
}

.hero-content-container {
    padding-bottom: 100%;
}

.hero-content-bg{
    bottom: 0;
    height: 100%;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    opacity: 0.95;
}

.hero-content-bg.home {
    background: var(--color-2);
}

.hero-content {
    bottom: 0;
    height: 100%;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    padding: 150px 100px 100px 150px;
}

.hero-content h1 {
    font-size: 39px;
    font-weight: 300;
}

.theme-gap{
    padding: 4rem 0;
}

.small-text p {
    font-weight: 300;
}

.world-icon img{
    width: 16rem;
}

.pe-6{
    padding-right: 4.5rem;
}

.font-caveat {
    font-family: "Caveat", cursive;
    font-size: 130%;
    font-weight: 700;
    letter-spacing: 0.01px;
}

h2.heading-2 {
    font-size: 33px;
    font-weight: 400;
}

.btn.button-main-theme {
    display: inline-block;
    padding: 10px 20px;
    min-width: 150px;
    min-height: 50px;
    border-radius: 4px;
    border-width: 1px;
    border-style: solid;
    -webkit-transition: background-color 0.3s ease-in-out, border-color 0.3s ease-in-out, color 0.3s ease-in-out;
    -o-transition: background-color 0.3s ease-in-out, border-color 0.3s ease-in-out, color 0.3s ease-in-out;
    transition: background-color 0.3s ease-in-out, border-color 0.3s ease-in-out, color 0.3s ease-in-out;
    background-color: var(--color-2);
    border-color: var(--color-2);
    text-align: center;
    color: var(--white-ff);
}
.btn.button-main-theme:hover {
    background: #a5006f;
}
.filter-checkbox{
    display: none;
}
.filterBtn {
    font-size: 14px;
    padding: 6px 1rem;
    border: 1px solid var(--gray-ca);
    border-radius: 0.25rem;
    cursor: pointer;
    -webkit-transition: .2s ease-in;
    -o-transition: .2s ease-in;
    transition: .2s ease-in;
}

label.filterBtn:hover {
    border-color: var(--color-2);
}

label.filterBtn.active {
    background-color: var(--color-2);
    color: var(--white-ff);
    border-color: var(--color-2);
}

.heading-3 {
    font-size: 25px;
    font-weight: 400;
}

.card-bottom span {
    font-weight: 300;
    color: var(--gray-ca);
    -webkit-transition: .5s ease-in;
    -o-transition: .5s ease-in;
    transition: .5s ease-in;
}

.card-wrapper{
    border-bottom: 2px solid var(--gray-ca);
    -webkit-transition: .5s ease-in;
    -o-transition: .5s ease-in;
    transition: .5s ease-in;
}

.card-wrapper:hover{
    border-color: var(--color-2);
}

.card-wrapper:hover .card-bottom span{
    color: var(--color-2);
}

.card-wrapper:hover img.product-thumb{
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1);
}

.bg-image-worldMap{
    top: 0;
    left: 0;
    bottom: 0;
    padding: 1rem 0;
}

footer{
    background-color: var(--gray-f2);
}

.footer-content p, footer a, footer p {
    font-size: 12px;
    font-weight: 300;
    color: var(--black-3C);
}

.footer-content p a{
    color: var(--black-3C);
}

.footer-content p a:hover{
    text-decoration: underline !important;
}

.service-icon {
    width: 48px;
    height: 48px;
    background: var(--color-2);
}
.service-card-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    row-gap: 40px;
}
.service-card {
    max-width: 350px;
    width: 100%;
    padding: 24px 32px;
    border-radius: 4px;
    -webkit-transition: 0.3s ease-in;
    -o-transition: 0.3s ease-in;
    transition: 0.3s ease-in;
}

.service-card:hover {
    background: #e6e6e64d;
}

.font-caveat.small{
    font-size: 100%;
}

img.brand-logo{
    -webkit-filter: grayscale(100%);
            filter: grayscale(100%);
    max-width: 150px;
    margin: auto;
    -webkit-transition: .3s ease-in;
    -o-transition: .3s ease-in;
    transition: .3s ease-in;
}
img.brand-logo:hover{
    -webkit-filter: grayscale(0);
            filter: grayscale(0);
}
ul.slick-dots {
    bottom: -40px;
}
.slider-brand .slick-dots li {
    height: 6px;
    width: 5rem;
    background-color: var(--gray-ca);
}
.slider-brand .slick-dots  li:before {
    bottom: 0;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    -webkit-transition: 0.5s all;
    -o-transition: 0.5s all;
    transition: 0.5s all;
    
}
.slick-slider .slick-dots li.slick-active:before {
    background-color: var(--color-2);
}

.slider-brand .slick-dots li button{
    display: none;
}

.faq-accordion-container .accordion-button:focus {
    z-index: 3;
    border-color: none;
    outline: 0;
    -webkit-box-shadow: none;
            box-shadow: none;
}

.faq-accordion-container .accordion-button{
    color: var(--black-3C);
    font-size: 25px;
    font-weight: 300;
    height: 80px;
}

.faq-accordion-container .accordion-button:not(.collapsed){
    -webkit-box-shadow: none;
            box-shadow: none;
    color: var(--color-2);
}

.faq-accordion-container li.accordion-item.active{
    border-color: var(--color-2) !important;
}

.accordion-button::after {
    width: 28px;
    height: 28px;
    background-size: cover;
}

.accordion-button:not(.collapsed)::after {
    background-image: url(../image/icon/accondation-arrow.svg);
}